table {
	width: 100%;
 	border-collapse: collapse;
	text-align: left;
}

th {
	padding: 15px;
	text-decoration: underline;
	border: solid 1px grey;
}

td {
	padding: 10px;
	border: solid 1px grey;
	opacity: 1;
	transition: opacity 600ms linear;
}

td.hide {
	opacity: 0;
}

tr {
	color: white;
	position: relative;
	cursor: pointer;
}

tr:nth-child(odd) {
	background-color: rgb(20, 20, 20);
}

tr:first-child {
	background-color: black;
}

tr:nth-child(even) {
	background-color: rgb(29, 29, 29);
}

td.Options {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	z-index: -1;
	inset: 0;
	opacity: 0;
	transition: opacity 500ms linear;
}

td.Options.show {
	background-color: rgb(23, 23, 23);
	z-index: 1;
	opacity: 1;
}

td.Options button {
	color: white;
	background-color: #e01c5d;
	padding: 5px 15px;
	font-size: 15px;
	border: none;
	border-radius: 4px 0;
	cursor: pointer;
}
