nav {
	color: white;
	background-color: black;
	padding: 5px 15px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav > div {
	display: flex;
	gap: 15px;
}

nav h3 {
	color: #e01c5d;
}

nav > div button {
	color: white;
	background-color: #e01c5d;
	font-size: 16px;
	border: none;
	border-radius: 6px 0;
	padding: 7px 15px;
	cursor: pointer;
}